.topnav {
    background-color: #3b0650;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: purple;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #7397ab;
    color: antiquewhite;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
body{
    color: rgb(49, 12, 79);
    background-color: antiquewhite;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(107, 4, 104);
    color: antiquewhite;
    text-align: center;
}