.topnav {
    position: sticky;
    margin-left: 0%;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: purple;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: rgb(115, 49, 135);
    color: antiquewhite;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {

    display: none;
  }
body{
    color: rgb(49, 12, 79);
    background-color: antiquewhite;
}
.parent_container{

  border-color: #3b0650;
  border-style: solid;
  border-width: 1%;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 1px 5px;
  
}
.container{
  color: antiquewhite;
  font-size: large;
  border-style: solid;
  border: #3b0650;
  margin: 1%;
  padding: 0%;
  justify-content: space-between;
  
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(127, 99, 147);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(115, 49, 135);
  color: white;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(107, 4, 104);
    color: antiquewhite;
    text-align: center;
}